<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" media="all" href="css/index.css"></link>
</head>
<body>
	<div id="app">
	{{{body}}}
	</div>
	<script src="front-bundle.js"></script>
</body>
</html>
